/* 
.bg-dark {
  background-color: #151f2c !important;
}
.mantine-Grid-inner {
  height: 100%;
  width: 100% !important;
}
.mantine-Container-root {
  margin: 0px !important;
  padding: 0px !important;
}

.text-center{
  text-align: center;
}
.title{
  font-size: 25px !important;
} */

.form .mantine-TextInput-input,
.form .mantine-PasswordInput-innerInput,
.form .mantine-Input-input,
.form .mantine-Checkbox-label,
.form .mantine-Text-root {
  background-color: transparent !important;
  color: #fff !important;
}

.logo-container {
  height: 100px;
  width: 100px;
}
.logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wrapper {
  min-height: 100vh;
  background-size: cover;
  /* background-image: url(https://images.unsplash.com/photo-1484242857719-4b9144542727?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1280&q=80); */
  background-image: url('/assets/images/login.jpg');
}

.form {
  border-right: 1px solid light-dark(var(#ced4da), var(#242424));
  min-height: 100vh;
  max-width: 450px;
  padding-top: 80px;
  background-color: #151f2c !important;
  color: #fff;
}

.users-form {
  border-right: 1px solid light-dark(var(#ced4da), var(#242424));
  /* min-height: 100vh; */
  max-width: 450px;
  padding-top: 80px;
  width: 100%;
}

@media (max-width: 48em) {
  .form , .users-form{
    max-width: 100%;
  }
}

.mantine-Grid-inner {
  width: 100%;
}

.title {
  color: light-dark(var(#000), var(#fff));
  font-family: Greycliff CF, var(--mantine-font-family);
}
